/* VARIABLES */

:root{

}

/* GENERAL */

*{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

/* NAVBAR */

.gradient-custom{
    background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(255,255,255,0) 100%);
}

/* HEADER */

.carousel-item::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.4);
}

/* ABOUT */

/* FEATURED */

.card{
    border: 0;
}

.card-body{
    min-height: 184px;
}

/* CONTACT */

/* FOOTER */

footer{

}

/* MEDIA QUERY */