/* VARIABLES */

:root{

}

/* GENERAL */

*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{

}

/* HEADER */

.carousel-item::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.4);
}

/* ABOUT */

/* FEATURED */

/* CONTACT */

/* FOOTER */

footer{

}

/* MEDIA QUERY */